body {
    max-width: 800px;
    margin: 0 auto;
}

p#error {
    font-size: 1.5em;
    color: red;
    font-weight: 600;
    margin: 0 40px;
}

img#logo {
    margin: 10px 0 10px 10px;
    height: 80px;
    float: left;
    cursor: pointer;

}

p#backButton {
    margin: 20px 50px;
    font-size: 1.2em;
    text-decoration: underline;
    cursor: pointer;
}