p#error {
    font-size: 1.5em;
    color: red;
    font-weight: 600;
    margin: 0 40px;
}

p#backButton {
    margin: 20px 50px;
    font-size: 1.2em;
    text-decoration: underline;
    cursor: pointer;
}