* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    transform: translate3d(0, 0, 0);
}

header,
main,
footer {
    max-width: 800px;
    margin: 0 auto;
}

header {
    height: 100px;
}

div#loader {
    border: 8px solid #95a5a6;
    border-top: 8px solid #eb4d4b;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.5s linear infinite;
}

div#loaderBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

div#loaderBoxPopUp {
    position: relative;
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    transform: translateX(-50%);
    z-index: 1000;
    margin: 50px 0 20px 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

header {
    height: 100px;
}

img#logo {
    margin: 10px 0 10px 10px;
    height: 80px;
    float: left;
    cursor: pointer;

}

h1#title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.8em;
    overflow: hidden;
    white-space: nowrap;
    float: right;
    margin-right: 10px;
    text-transform: none;
    font-style: normal;
    cursor: pointer;
    color: black;
}

@media screen and (max-width: 500px) {
    h1#title {
        top: 16px;
        transform: none;
    }
}

@media screen and (max-width: 350px) {
    h1#title {
        display: none;
    }

    h1#subtitle {
        position: absolute;
        top: 0;
        right: 0;
    }
}

h1#subtitle {
    color: grey;
    float: right;
    font-size: 1.5em;

    text-align: right;
    top: -30px;
    position: relative;
    margin-right: 10px;
    width: 400px;
}

h2.sectionHeader {
    width: calc(100% - 20px);
    padding: 10px 10px 0 10px;
}

/* Footer styling */
table#footer {
    padding: 60px 0;
    margin: 0 auto;
}

table#footer td {
    padding: 20px 40px 20px 40px;
}

table#footer td p {
    cursor: pointer;
}

table#settings {
    width: calc(100% - 20px);
    margin: 0 10px;
}

table#settings tr {
    height: 30px;
}

/* Popup styling */
div.messageBox {
    position: absolute;
    min-height: calc(100% - 2 * 20px);
    width: calc(100% - 2 * 20px);
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 2;
    max-width: 800px;
}

p.messageBoxP {
    margin: 0 30px 10px 30px;
}

div.messageBox ul {
    margin: 0 30px 10px 60px;
}

h3.popUpTitle {
    margin: 30px 30px 15px 30px;
}

div.close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 0px 0px;
    cursor: pointer;
    padding: 20px;
}

div.messageBox table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
}

div.messageBox table td {
    padding: 5px;
}

input#name,
input#email,
textarea#message {
    padding: 5px;
    border-radius: 10px;
    width: calc(800px / 2);
    border: 2px grey solid;
}

textarea#message {
    height: 100px;
    resize: none;
}

button#send {
    background-color: rgba(16, 172, 132, 1.0);
    border: none;
    padding: 10px;
    color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 30px;
}

@media (hover: hover) {
    button#send:hover {
        background-color: rgba(16, 172, 132, 0.6);
    }
}

@media screen and (max-width: 600px) {
    div.messageBox table td {
        display: block;
    }
}

@media screen and (max-width: 550px) {

    input#name,
    input#email,
    textarea#message {
        width: calc(550px / 2) !important;
    }
}

@media screen and (max-width: 400px) {

    input#name,
    input#email,
    textarea#message {
        width: calc(400px / 2) !important;
    }
}

textarea.fillIn::placeholder {
    color: red;
}

p.success,
p.fail {
    font-weight: 600;
    font-size: 1.2em;
    margin: 0 30px 10px 30px;
}

p.success {
    color: #10ac84;
}

p.fail {
    color: #ee5253;
}

a#source {
    color: black;
    text-decoration: none;
}