<!DOCTYPE html>
<html lang="nl">

<head>
  <title>De Wind Nu - Actuele metingen in Nederland</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">



  <meta name="description" content="De Wind Nu verzamelt actuele weerdata van meetstations door heel Nederland. Deze kunnen gebruikt worden voor het informeren van surfers of zeilers.">
    <meta name="keywords" content="actuele wind in knopen,
    windmetingen Brouwersdam,
    metingen meetstations KNMI Rijkswaterstaat,
    Brouwersdam,
    Wijk aan Zee,
    Domburg,
    Vlissingen,
    IJmuiden,
    KNMI,
    Rijkswaterstaat,
    Vlaamse zandbanken,
    meetpalen">
    
    <meta property="og:type" content="website">
    <meta property="og:title" content="De Wind Nu">
    <meta property="og:url" content="https://dewindnu.nl">
    <meta property="og:image" content="https://dewindnu.nl/images/logoEncircled.png">
    <meta property="og:site_name" content="De Wind Nu">
    <meta property="og:description" content="De Wind Nu verzamelt actuele weerdata van meetstations door heel Nederland. Deze kunnen gebruikt worden voor het informeren van surfers of zeilers.">
    
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="De Wind Nu">
    <meta property="twitter:url" content="https://dewindnu.nl">
    <meta property="twitter:image" content="https://dewindnu.nl/images/logoEncircled.png">
    <meta property="twitter:description" content="De Wind Nu verzamelt actuele weerdata van meetstations door heel Nederland. Deze kunnen gebruikt worden voor het informeren van surfers of zeilers.">


  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script>
    const data = <%- locationsString %>
</script>

  <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
  <script src="/redirect.js"></script>
  <script src="index.js" type="module" defer></script>

  <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="/generalStyles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">

  <!-- This style must be here and not in the stylesheet -->
  <style>
    .custom .leaflet-popup-tip,
    .custom .leaflet-popup-content-wrapper {
      font-size: 1.2em;
      font-family: 'Lato', sans-serif;
    }

    .custom .leaflet-popup-tip p,
    .custom .leaflet-popup-content-wrapper p {
      cursor: pointer;
    }
  </style>

  <!-- ICO TAGS -->
<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="180x180" href="../images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
  <link rel="manifest" href="../images/site.webmanifest">
  <link rel="mask-icon" href="../images/safari-pinned-tab.svg" color="#000000">
  <meta name="apple-mobile-web-app-title" content="De Wind Nu">
  <meta name="application-name" content="De Wind Nu">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#000000">

</head>

<body>
  <header>
    <img data-mapfit id="logo" src="images/logo.svg" alt="Logo - navigeer home">
    <h1 data-mapfit id="title">De Wind Nu</h1>
  </header>
  <div id="mapWrapper"><div id="map"></div></div>
  <main>
    <h2 class="sectionHeader">Instellingen</h2>

    <table id="settings" role="presentation">
      <tr>
          <td><label for="tiles">Standaard kaart</label></td>
          <td><select data-tiles id="tiles">
                  <option value="0">OpenStreetMap (sneller)</option>
                  <option value="1">Mapbox (mooier)</option>
              </select></td>
      </tr>
      <tr>
        <td><label for="seaMap">Toon zeekaart</label></td>
        <td><input type="checkbox" data-seaMap id="seaMap">
            </input></td>
    </tr>
  </table>


  </main>
  <footer>

    <div id="footerItemWrapper">
      <div class="footerItem" data-about><p>Over</p></div>
      <div class="footerItem" data-feedback><p>Geef feedback</p></div>
      <div class="footerItem" data-credit><p>Credit / bronvermelding</p></div>
      <div class="footerItem" data-disclaimer><p>Disclaimer</p></div>
      <div class="footerItem" data-contact><p>Contact</p></div>
      <div class="footerItem" data-about><a id="source" href="https://github.com/feikescholtens/De-Wind-Nu" target="_blank">
        <p>Broncode op Github</p>
      </a></div>
  </div>
  
</footer>
</body>

</html>