:root {
    --markerSize: 25px;
}

body {
    margin: 0 auto;
}

header {
    height: 100px;
    max-width: 800px;
    margin: 0 auto;
}

div#mapWrapper,
div#map {
    width: 100%;
    height: calc(100vh - 100px);
    background-color: rgb(170, 211, 223);
}

div.markerContainer {
    width: calc(3 * var(--markerSize));
    height: calc(3 * var(--markerSize));
}

div.marker {
    position: relative;
    transform-origin: center;
    box-sizing: content-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    width: var(--markerSize);
    height: var(--markerSize);
    border-radius: 50%;
    cursor: pointer;
    border: 3px white solid;
    text-align: center;
    line-height: var(--markerSize);
    font-size: calc(0.7 * var(--markerSize));
    font-weight: 800;
    color: white;
    border-color: white !important;
    box-shadow: 0 0 5px 3px grey;
    text-shadow: 1px 1px #5c5c5c;
}

div.arrowArm {
    position: absolute;
    width: calc(0.2 * var(--markerSize));
    border-top: calc(1.5 * var(--markerSize)) solid;
    border-left: calc(0.2 * var(--markerSize)) solid transparent;
    border-right: calc(0.2 * var(--markerSize)) solid transparent;
    left: calc(1.5 * var(--markerSize));
    top: calc(1.5 * var(--markerSize));
    transform-origin: top;
    transform: translateX(calc(-0.3 * var(--markerSize))) rotate(0);
    background-color: unset !important;
    filter: drop-shadow(3px 0 white) drop-shadow(0 3px white) drop-shadow(-3px 0 white) drop-shadow(1px 1px 1px grey) drop-shadow(-1px 1px 1px grey);
}

div.RWS {
    background-color: rgb(46, 179, 99);
    border-top-color: rgb(46, 179, 99);
}

div.KNMI {
    background-color: rgb(101, 124, 201);
    border-top-color: rgb(101, 124, 201);
}

div.MVB {
    background-color: rgb(201, 62, 28);
    border-top-color: rgb(201, 62, 28);
}

div.mapboxgl-popup {
    max-width: 200px;
    z-index: 1000;
}

div.mapboxgl-popup-content {
    text-align: center;
}

button.windPageButton {
    margin: 5px;
    padding: 8px;
    border-radius: 12px;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    text-shadow: 1px 1px #5c5c5c;
    font-weight: 600;
}

button.popupMVB {
    background-color: rgb(201, 62, 28);
}

button.popupKNMI {
    background-color: rgb(101, 124, 201);
}

button.popupRWS {
    background-color: rgb(46, 179, 99);
}

button.popupMVB:hover {
    background-color: rgba(201, 62, 28, 0.5);
}

button.popupKNMI:hover {
    background-color: rgba(101, 124, 201, 0.5);
}

button.popupRWS:hover {
    background-color: rgba(46, 179, 99, 0.5);
}

button.mapboxgl-popup-close-button {
    width: 18px;
    height: 18px;
}

button:focus {
    outline: none;
}