body {
    margin: 0 auto;
    overflow-x: hidden;
}

header {
    height: 100px;
    max-width: 800px;
    margin: 0 auto;
}

div#mapWrapper,
div#map,
div#list {
    width: 100%;
    min-height: calc(var(--vh, 1vh) * 100 - (100px + 49px - 35px));
}

div.tabContainerWrapper {
    height: 49px;
    margin-top: -35px;
}

.tabContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Tabs styling (specific for this tab) */

.tabContainer .tabHeader>div {
    width: 80px;
}

.tabContainer .tabIndicator {
    width: 80px;
}

/* -------- */

div#mapWrapper {
    width: calc(100 * var(--vw, 1vw));
    margin-left: calc((100 * var(--vw, 1vw) - 100%) / -2);
}

/* Settings bar with notification about location */

div.barLocationNotification {
    z-index: 998;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--lineColour1);
    color: var(--textColour1);
}

div#barLocationNotificationMap {
    position: absolute;
    width: calc(100 * var(--vw, 1vw));
    margin-left: calc((100 * var(--vw, 1vw) - 100%) / -2);
}

div#barLocationNotificationList {
    width: calc(100% - 2 * 10px);
    margin-left: 10px;
}

div.barLocationNotification span {
    color: var(--anchorColour);
    cursor: pointer;
    text-decoration: underline;
}

/* Settings icon scroll styling */

button#settingsButton {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    z-index: 999;
    position: absolute;
    bottom: calc(10px + 20px);
    right: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: none;
    box-shadow: -1px 1px 5px 2px rgba(0, 0, 0, 0.5);
}

button#settingsButton:after {
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: -1;
    width: 50px;
    height: 50px;
    /* background: #E83474; */
    border-radius: 7px;
}

span#iconSettings {
    font-size: 42px !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 640px) {
    button#settingsButton {
        background-color: white;
        color: black;
        bottom: 10px;
        right: 10px;
    }

    div.mapboxgl-ctrl-bottom-right {
        margin-bottom: 55px;
    }

    button.mapboxgl-ctrl-attrib-button {
        box-shadow: -1px 1px 5px 2px rgba(0, 0, 0, 0.5);
    }
}

/* ------------------------- */

div.mapboxgl-ctrl-bottom-left,
div.mapboxgl-ctrl-bottom-right {
    z-index: 999;
}

.alwaysBlackText {
    color: black;
}

div.VLINDER {
    background-color: rgb(254, 202, 87);
    border-top-color: rgb(254, 202, 87);
    z-index: 1;
}

div.Rijkswaterstaat {
    background-color: rgb(46, 179, 99);
    border-top-color: rgb(46, 179, 99);
    z-index: 2;
}

div.KNMI {
    background-color: rgb(101, 124, 201);
    border-top-color: rgb(101, 124, 201);
    z-index: 3;
}

div.MVB {
    background-color: rgb(201, 62, 28);
    border-top-color: rgb(201, 62, 28);
    z-index: 4;
}

div.markerContaineVLINDER {
    z-index: 1;
}

div.markerContainerRijkswaterstaat {
    z-index: 2;
}

div.markerContainerKNMI {
    z-index: 3;
}

div.markerContainerKNMI {
    z-index: 4;
}

div.circleCurrentLocation {
    width: 15px;
    height: 15px;
    background-color: #4285f4;
    border-radius: 50%;
    border: 2px white solid;
    box-shadow: 0 0 5px 3px grey;
    cursor: pointer;
}

div.circleCurrentLocation:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 50px;
    height: 50px;
    border-radius: 7px;
}

div.popUp {
    display: grid;
    grid-template-columns: 1fr;
}

p.locationPopUpTitle {
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
}

button.popupLocationPrefferenceHigh {
    background-color: #1a873c;
}

button.popupLocationPrefferenceLow {
    background-color: #de6421;
}

button.popupLocationPrefferenceNone {
    background-color: #c71720;
}

div.mapboxgl-popup {
    max-width: 200px;
    z-index: 998;
}

div.mapboxgl-popup-content {
    text-align: center;
}

button.mapboxgl-popup-close-button {
    width: 18px;
    height: 18px;
}

button:focus {
    outline: none;
}

/* Styling grid of list elements */
div.listElement {
    display: grid;
    grid-template-columns: 1fr 0.7fr 1fr;
    margin: 5px 15px;
    column-gap: 10px;
    align-items: center;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px var(--lineColour1) solid;
    border-radius: 15px;
    font-size: 14px;
}

div.buttonWrapper {
    grid-column: 1 / 3;
}

div.buttonWrapper button {
    font-size: 1em !important;
    margin: 0 !important;
}

p.favorite {
    cursor: pointer;
}

span.listElementStar {
    vertical-align: bottom;
}

span.listElementArrow {
    vertical-align: middle;
}

p.forceFontLoad {
    position: absolute;
    bottom: 0;
}