<!DOCTYPE html>
<html lang="nl">

<head>
    <title>De Wind Nu: <%= spotName %></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="De Wind Nu verzamelt actuele windmetingen van meetstations door heel Nederland en visualiseert deze samen met verwachtingen in grafieken. Deze kunnen gebruikt worden voor het informeren van surfers of zeilers.">
    <meta name="keywords" content="actuele wind in knopen,
    windmetingen Brouwersdam,
    metingen meetstations KNMI Rijkswaterstaat,
    Brouwersdam,
    Wijk aan Zee,
    Domburg,
    Vlissingen,
    IJmuiden,
    KNMI,
    Rijkswaterstaat,
    Vlaamse zandbanken,
    meetpalen">
    
    <meta property="og:type" content="website">
    <meta property="og:title" content="De Wind Nu">
    <meta property="og:url" content="https://dewindnu.nl">
    <meta property="og:image" content="https://dewindnu.nl/images/logoEncircled.png">
    <meta property="og:site_name" content="De Wind Nu">
    <meta property="og:description" content="De Wind Nu verzamelt actuele windmetingen van meetstations door heel Nederland en visualiseert deze samen met verwachtingen in grafieken. Deze kunnen gebruikt worden voor het informeren van surfers of zeilers.">
    
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="De Wind Nu">
    <meta property="twitter:url" content="https://dewindnu.nl">
    <meta property="twitter:image" content="https://dewindnu.nl/images/logoEncircled.png">
    <meta property="twitter:description" content="De Wind Nu verzamelt actuele windmetingen van meetstations door heel Nederland en visualiseert deze samen met verwachtingen in grafieken. Deze kunnen gebruikt worden voor het informeren van surfers of zeilers.">

    <!-- ICO TAGS -->
<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="180x180" href="../images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
  <link rel="manifest" href="../images/site.webmanifest">
  <link rel="mask-icon" href="../images/safari-pinned-tab.svg" color="#000000">
  <meta name="apple-mobile-web-app-title" content="De Wind Nu">
  <meta name="application-name" content="De Wind Nu">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#000000">
  
</head>

<body>
  <script> 
  // Placed here to instantly execute and preventing white flash
  if (!localStorage.getItem("theme")) localStorage.setItem("theme", "auto")

  if (localStorage.getItem("theme") == "auto") {
    if (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches) {
      document.body.classList.add("dark")
    }
  } else if (localStorage.getItem("theme") == "dark") document.body.classList.add("dark")
  else if (localStorage.getItem("theme") == "light") document.body.classList.remove("dark")
  </script>

    <div data-markerContainer class="markerContainer centerAndMiddle">
    <div class="arrowArm loader spin">
    </div><div class="marker loader">5</div></div>
    <div data-loaderText id="loaderText"><b>Data ophalen...</b></div>

    <header>
      <svg data-goBackHome id="logo" alt="Logo - navigeer home" width="80px" height="80px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 566.929 566.929" color-interpolation-filters="sRGB" fill="none" fill-rule="evenodd" overflow="visible" stroke-linecap="square" stroke-miterlimit="3" xmlns:v="https://vecta.io/nano"><circle cx="58.415" cy="51.328" r="51.328" fill="#000"/><g stroke="#000"><g stroke-linecap="round" stroke-linejoin="round"><path d="M60.092 88.582v457.09" stroke-width="40"/><path d="M28.347 143.192h89.57m-89.57 191.132h89.57" stroke-width="30"/></g><path d="M353.055 235.324v-82.73a11.34 11.34 0 0 1 12.26-11.3l69.83 5.66a11.34 11.34 0 0 1 10.43 11.3v77.07 86.74a11.34 11.34 0 0 1-10.33 11.3l-69.84 6.27a11.34 11.34 0 0 1-12.35-11.29v-93.02zm-154.19 0v-101.8a11.34 11.34 0 0 1 12.44-11.29l69.84 6.81a11.34 11.34 0 0 1 10.23 11.29v94.99 104.66a11.34 11.34 0 0 1-10.14 11.28l-69.83 7.43a11.34 11.34 0 0 1-12.54-11.28v-112.09zm343.07 89.03v-171.19a11.34 11.34 0 0 0-9.89-11.25l-401.34-51.68a11.34 11.34 0 0 0-12.79 11.24v274.57a11.34 11.34 0 0 0 12.79 11.24l401.34-51.69a11.34 11.34 0 0 0 9.89-11.24z" fill="#000" stroke-linejoin="round" stroke-width="15"/></g></svg>
            <h1 data-goBackHome id="title">De Wind Nu</h1>
    </header>
    
    <nav id="locationDate" class="noSelect hidden">
      <h4 data-location id="location"><%= spotName %></h4>
      
      <div id="dateControls">
        <div data-previousDay title="Vorige dag">
          <svg xmlns="http://www.w3.org/2000/svg" height="44" viewBox="0 96 960 960" width="44"><path d="M539 794 341 596q-5-5-7-10t-2-11q0-6 2-11t7-10l199-199q9-9 21.5-9t21.5 9q9 9 8.5 22t-9.5 22L406 575l177 177q9 9 9 21t-9 21q-9 9-22 9t-22-9Z"/></svg>
        </div>
        <p data-currentDay id="currentDate"></p><input data-datePicker id="datePicker" type="date">
        <div data-nextDay title="Volgende dag">
          <svg xmlns="http://www.w3.org/2000/svg" height="44" viewBox="0 96 960 960" width="44"><path d="M354 794q-8-10-8.5-22t8.5-21l176-176-177-177q-8-8-7.5-21.5T354 355q10-10 21.5-9.5T396 355l199 199q5 5 7 10t2 11q0 6-2 11t-7 10L397 794q-9 9-21 8.5t-22-8.5Z"/></svg>
        </div>
      </div>
    </nav>

    <p data-errorFetching class="error noDisplay" style="margin-top: 10px;"></p>

    <main class="hidden">

        <h2 data-headingCurrentWind class="sectionHeader"></h2>
            <canvas data-compass id="compass" width="420px" height="420px"></canvas>

            <div data-currentWindBox id="currentWindBox">
                <div data-currentWind id="currentWind"></div>
                <div data-forecastedWind id="forecastedWind"></div>
                <div data-currentGusts id="currentGusts"></div>
                <div data-currentDirection id="currentDirection"></div>
                <div data-forecastedDirection id="forecastedDirection"></div>
            </div>

            <div data-dataForm class="tabContainer">
              <div class="tabHeader">
                  <div data-graphs class="active">
                    <div class="tabIcon">
                      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M481 547q-9-1-16.556-4.5Q456.889 539 451 533L305 386l-136 98q-23 17-48.5 4.074Q95 475.149 95 446q0-11.5 5-22t14-17l167-122q8-4 15.5-6.5T313 276q8 1 15.556 5 7.555 4 13.444 10l147 146 302-219q23-17 49-3.509t26 42.79q0 11.719-5 21.219-5 9.5-14 16.5L512 537q-8 5-15.5 8t-15.5 2Zm-1 407q-9 0-16-3.5t-14-9.5L232 730l-63 44q-24 17-49 4.009t-25-42.29Q95 724 100 714.5q5-9.5 14-16.5l95-67q7-5 14.55-8 7.55-3 16.45-2 8.32.727 15.76 4.045Q263.2 628.364 269 634l217 211 151-121q6-5 13.55-8 7.55-3 15.45-3h152q19.75 0 33.875 13.675Q866 740.351 866 760.175 866 780 851.875 793.5 837.75 807 818 807H682L513 944q-7.053 6.889-16.026 8.944Q488 955 480 954Z"/></svg>
                    </div>Grafieken</div>
                  <div data-table><div class="tabIcon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M811 960H189q-39.05 0-66.525-27.475Q95 905.05 95 866V285q0-39.463 27.475-67.231Q149.95 190 189 190h622q39.463 0 67.231 27.769Q906 245.537 906 285v581q0 39.05-27.769 66.525Q850.463 960 811 960ZM189 419h622V285H189v134Zm145 60H189v387h145V479Zm332 0v387h145V479H666Zm-60 0H394v387h212V479Z"/></svg>
                  </div>Tabel</div>
              </div>
              <div class="tabIndicator"></div>
            </div>

            <h2 data-headingTabel class="sectionHeader noDisplay">Windsterkte</h2>
            <table data-dataTable id="data">
              <tr id="tableFirstHeaderRow">
                <th data-timeHeading rowspan="2" style="cursor: pointer">Tijd <span id="sortArrow">▲</span></th>
                <th>Metingen</th>
                <th colspan="3">Verwachting</th></tr>
              <tr id="tableHeaderRow" data-tableHeaderRow></tr>
            </table>

            <h2 data-headingChartWindspeed class="sectionHeader">Windsterkte</h2>
            <canvas data-chartWindSpeed class="charts" height="300px"></canvas>

            <h2 data-headingchartwinddirection class="sectionHeader noDisplay">Windrichting</h2>
            <canvas data-chartWindDirection class="charts noDisplay" height="300px"></canvas>

            <h3 data-dataInfo id="dataInfo">Metingen: <span data-measurementSource></span> | 
              Verwachtingen: <span data-forecastSource></span> </h3>
            
            <h2 class="sectionHeader">Instellingen</h2>
              <div id="settings">

                <label for="theme">Thema</label>
                <select data-theme>
                  <option value="auto">Zelfde als browser / systeem</option>
                  <option value="light">Licht</option>
                  <option value="dark">Donker</option>
                </select>

                <label for="showBar">Toon tabbladen met snel wisselen tussen weergavevormen</label>
                <label class="switch">
                  <input type="checkbox" data-showBar id="showBar"></input>
                  <span class="slider round"></span>
                </label>

                <label for="unit">Eenheid</label>
                <select data-unit id="unit">
                  <option value="kn">Knopen [kn]</option>
                  <option value="m/s">Meter per seconde [m/s]</option>
                  <option value="km/h">Kilometer per uur [km/h]</option>
                  <option value="mph">Mijl per uur [mph]</option>
                  <option value="Bft">Beaufort [Bft]</option>
                </select>

                <label for="decimals">Aantal decimalen</label>
                <select data-decimals id="decimals">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>

                <hr class="spanRow">

                <label for="dataForm">Weergave vorm</label>
                <select data-dataFormUnderSettings id="dataForm">
                  <option value="graphs">Grafieken</option>
                  <option value="table">Tabel</option>
                </select>

                <label for="interpolation">Interpoleer ontbrekende meetwaarden</label>
                <label class="switch">
                  <input type="checkbox" data-interpolation id="interpolation">
                  <span class="slider round"></span>
                </label>

              </div>

    </main>
    <footer>

      <div id="footerItemWrapper">
        <div class="footerItem" data-about><p>Over</p></div>
        <div class="footerItem" data-feedback><p>Geef feedback</p></div>
        <div class="footerItem" data-credit><p>Credit / bronvermelding</p></div>
        <div class="footerItem" data-disclaimer><p>Disclaimer</p></div>
        <div class="footerItem" data-contact><p>Contact</p></div>
        <div class="footerItem" data-about><a id="source" href="https://github.com/feikescholtens/De-Wind-Nu" target="_blank">
          <p>Broncode op Github</p>
        </a></div>
    </div>

      </footer>
</body>

</html>