<!DOCTYPE html>
<html lang="nl">

<head>
    <title>De Wind Nu: <%= spotName %></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    

    <meta name="description" content="De Wind Nu verzamelt actuele windmetingen van meetstations door heel Nederland en visualiseert deze samen met voorspellingen in grafieken. Deze kunnen gebruikt worden voor het informeren van surfers of zeilers.">
    <meta name="keywords" content="actuele wind in knopen,
    windmetingen Brouwersdam,
    metingen meetstations KNMI Rijkswaterstaat,
    Brouwersdam,
    Wijk aan Zee,
    Domburg,
    Vlissingen,
    IJmuiden,
    KNMI,
    Rijkswaterstaat,
    Vlaamse zandbanken,
    meetpalen">
    
    <meta property="og:type" content="website">
    <meta property="og:title" content="De Wind Nu">
    <meta property="og:url" content="https://dewindnu.nl">
    <meta property="og:image" content="https://dewindnu.nl/images/logoEncircled.png">
    <meta property="og:site_name" content="De Wind Nu">
    <meta property="og:description" content="De Wind Nu verzamelt actuele windmetingen van meetstations door heel Nederland en visualiseert deze samen met voorspellingen in grafieken. Deze kunnen gebruikt worden voor het informeren van surfers of zeilers.">
    
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="De Wind Nu">
    <meta property="twitter:url" content="https://dewindnu.nl">
    <meta property="twitter:image" content="https://dewindnu.nl/images/logoEncircled.png">
    <meta property="twitter:description" content="De Wind Nu verzamelt actuele windmetingen van meetstations door heel Nederland en visualiseert deze samen met voorspellingen in grafieken. Deze kunnen gebruikt worden voor het informeren van surfers of zeilers.">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="/generalStyles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"> </script>

    <script src="index.js" type="module" defer></script>
    <script src="js/objects/chartData.js"></script>

    <!-- ICO TAGS -->
<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="180x180" href="../images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
  <link rel="manifest" href="../images/site.webmanifest">
  <link rel="mask-icon" href="../images/safari-pinned-tab.svg" color="#000000">
  <meta name="apple-mobile-web-app-title" content="De Wind Nu">
  <meta name="application-name" content="De Wind Nu">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#000000">
</head>

<body>
  <script> 
  // Placed here to instantly execute and preventing white flash
  if (!localStorage.getItem("theme")) localStorage.setItem("theme", "auto")

  if (localStorage.getItem("theme") == "auto") {
    if (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches) {
      document.body.classList.add("dark")
    }
  } else if (localStorage.getItem("theme") == "dark") document.body.classList.add("dark")
  else if (localStorage.getItem("theme") == "light") document.body.classList.remove("dark")
  </script>

    <div data-markerContainer class="markerContainer centerAndMiddle">
    <div class="arrowArm loader spin">
    </div><div class="marker loader">5</div></div>
    <div data-loaderText id="loaderText"><b>Data ophalen...</b></div>

    <header>
      <svg data-goBackHome id="logo" alt="Logo - navigeer home" width="80px" height="80px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 566.929 566.929" color-interpolation-filters="sRGB" fill="none" fill-rule="evenodd" overflow="visible" stroke-linecap="square" stroke-miterlimit="3" xmlns:v="https://vecta.io/nano"><circle cx="58.415" cy="51.328" r="51.328" fill="#000"/><g stroke="#000"><g stroke-linecap="round" stroke-linejoin="round"><path d="M60.092 88.582v457.09" stroke-width="40"/><path d="M28.347 143.192h89.57m-89.57 191.132h89.57" stroke-width="30"/></g><path d="M353.055 235.324v-82.73a11.34 11.34 0 0 1 12.26-11.3l69.83 5.66a11.34 11.34 0 0 1 10.43 11.3v77.07 86.74a11.34 11.34 0 0 1-10.33 11.3l-69.84 6.27a11.34 11.34 0 0 1-12.35-11.29v-93.02zm-154.19 0v-101.8a11.34 11.34 0 0 1 12.44-11.29l69.84 6.81a11.34 11.34 0 0 1 10.23 11.29v94.99 104.66a11.34 11.34 0 0 1-10.14 11.28l-69.83 7.43a11.34 11.34 0 0 1-12.54-11.28v-112.09zm343.07 89.03v-171.19a11.34 11.34 0 0 0-9.89-11.25l-401.34-51.68a11.34 11.34 0 0 0-12.79 11.24v274.57a11.34 11.34 0 0 0 12.79 11.24l401.34-51.69a11.34 11.34 0 0 0 9.89-11.24z" fill="#000" stroke-linejoin="round" stroke-width="15"/></g></svg>
            <h1 data-goBackHome id="title">De Wind Nu</h1>
    </header>
    
    <nav id="locationDate" class="noSelect">
      <h4 data-location id="location"><%= spotName %></h4>
      
      <div id="dateControls">
        <span data-previousDay title="Vorige dag" class="material-symbols-rounded">navigate_before</span>
        <p data-currentDay id="currentDate"></p><input data-datePicker id="datePicker" type="date">
        <span data-nextDay title="Volgende dag" class="material-symbols-rounded">navigate_next</span>
        <span data-getData title="Bekijken data voor deze dag" class="material-symbols-rounded">query_stats</span>
      </div>

      <p data-errorFetching class="error fullWidthGrid noDisplay" style="margin-top: 10px;"></p>
    </nav>

    <main class="hidden">

        <h2 data-headingCurrentWind class="sectionHeader"></h2>
            <canvas data-compass id="compass" width="350px" height="350px"></canvas>

            <div data-currentWindBox id="currentWindBox">
                <div data-currentWind id="currentWind"></div>
                <div data-forecastedWind id="forecastedWind"></div>
                <div data-currentGusts id="currentGusts"></div>
                <div data-currentDirection id="currentDirection"></div>
                <div data-forecastedDirection id="forecastedDirection"></div>
            </div>

            <section data-dataForm><label data-graphs>Grafieken</label> <label class="deselected" data-tabel>Tabel</label></section>

            <h2 data-headingTabel class="sectionHeader noDisplay">Windsterkte</h2>
            <table data-dataTable id="data">
              <tr id="tableFirstHeaderRow">
                <th data-timeHeading rowspan="2" style="cursor: pointer">Tijd <span id="sortArrow">▲</span></th>
                <th>Metingen</th>
                <th colspan="3">Voorspelling</th></tr>
              <tr id="tableHeaderRow" data-tableHeaderRow></tr>
            </table>

            <h2 data-headingChartWindspeed class="sectionHeader">Windsterkte</h2>
            <canvas data-chartWindSpeed class="charts" height="300px"></canvas>

            <h2 data-headingchartwinddirection class="sectionHeader noDisplay">Windrichting</h2>
            <canvas data-chartWindDirection class="charts noDisplay" height="300px"></canvas>

            <h3 data-dataInfo id="dataInfo">Metingen: <span data-measurementSource></span> | 
              Voorspellingen: <span data-forecastSource></span> </h3>
            
            <h2 class="sectionHeader">Instellingen</h2>
              <div id="settings">

                <label for="theme">Thema</label>
                <select data-theme>
                  <option value="auto">Zelfde als browser / systeem</option>
                  <option value="light">Licht</option>
                  <option value="dark">Donker</option>
                </select>

                <label for="showBar">Toon balk met snel wisselen tussen grafieken en tabel</label>
                <input type="checkbox" data-showBar id="showBar"></input>

                <label for="dataForm">Weergave vorm</label>
                <select data-dataFormUnderSettings id="dataForm">
                  <option value="graphs">Grafieken</option>
                  <option value="table">Tabel</option>
                </select>

                <label for="unit">Eenheid</label>
                <select data-unit id="unit">
                  <option value="kn">Knopen [kn]</option>
                  <option value="m/s">Meter per seconde [m/s]</option>
                  <option value="km/h">Kilometer per uur [km/h]</option>
                  <option value="mph">Mijl per uur [mph]</option>
                  <option value="Bft">Beaufort [Bft]</option>
                </select>

                <label for="decimals">Aantal decimalen</label>
                <select data-decimals id="decimals">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>

                <label for="interpolation">Interpoleer ontbrekende meetwaarden</label>
                <input type="checkbox" data-interpolation id="interpolation">

              </div>

    </main>
    <footer>

      <div id="footerItemWrapper">
        <div class="footerItem" data-about><p>Over</p></div>
        <div class="footerItem" data-feedback><p>Geef feedback</p></div>
        <div class="footerItem" data-credit><p>Credit / bronvermelding</p></div>
        <div class="footerItem" data-disclaimer><p>Disclaimer</p></div>
        <div class="footerItem" data-contact><p>Contact</p></div>
        <div class="footerItem" data-about><a id="source" href="https://github.com/feikescholtens/De-Wind-Nu" target="_blank">
          <p>Broncode op Github</p>
        </a></div>
    </div>

      </footer>
</body>

</html>