<!DOCTYPE html>
<html lang="nl">

<head>
    <title>laden...</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script>
        const dataFetched = <%- data %>
    </script>

    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"> </script>
    <script src="index.js" type="module" defer></script>
    <script src="js/objects/chartData.js"></script>

    <!-- ICO TAGS -->
<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="180x180" href="../images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
  <link rel="manifest" href="../images/site.webmanifest">
  <link rel="mask-icon" href="../images/safari-pinned-tab.svg" color="#000000">
  <meta name="apple-mobile-web-app-title" content="De Wind Nu">
  <meta name="application-name" content="De Wind Nu">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#000000">
</head>

<body>
    <div id="loader_box">
        <div data-loader id="loader"></div>
    </div>

    <header>
        <a href="/"><img id="logo" src="../images/logo.svg" alt="Logo - navigeer home"></a>
        <a href="/">
            <h1 id="title">De Wind Nu</h1>
        </a>

    </header>
    <h1 data-subtitle id="subtitle"></h1>
    <main>
        <h2 data-headingCurrentWind id="heading_current_wind" class="sectionHeader">
            </h1>
            <canvas data-compass id="wind_compass" width="350px" height="350px"></canvas>
            <div data-currentWindBox id="actuele_gegevens">
                <div data-currentWind id="actuele_wind"></div>
                <div data-forecastedWind id="voorspelde_wind"></div>
                <div data-currentGusts id="actuele_vlagen"></div>
                <div data-currentDirection id="actuele_richting"></div>
                <div data-forecastedDirection id="voorspelde_richting"></div>

            </div>
            <h2 data-headingChartWindspeed id="heading_chart1" class="sectionHeader">Windsterkte
            </h2>
            <canvas data-chartWindspeed class="charts" id="chart_windspeed" height="300px"></canvas>
            <h2 id="heading_chart2" class="sectionHeader">Windrichting
            </h2>
            <canvas data-chartWinddirection class="charts" id="chart_winddirection" height="300px"></canvas>
            <h2 class="sectionHeader">Instellingen</h2>
            <table id="settings" role="presentation">
                <tr>
                    <td><label for="unit">Eenheid</label></td>
                    <td><select data-unit id="eenheid">
                            <option value="0">Knopen [kn]</option>
                            <option value="1">Meter per seconde [m/s]</option>
                            <option value="2">Kilometer per uur [km/h]</option>
                            <option value="3">Mijl per uur [mph]</option>
                            <option value="4">Beaufort [Bft]</option>
                        </select></td>
                </tr>
                <tr>
                    <td><label for="decimals">Aantal decimalen</label></td>
                    <td><select data-decimals id="decimals">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2 (data slechts geleverd in één decimaal)</option>
                        </select></td>
                </tr>
                <tr>
                  <td><label for="interpolation">Interpoleer data</label></td>
                  <td><select data-interpolation id="interpolation">
                          <option value="1">Ja</option>
                          <option value="0" selected="selected">Nee</option>
                      </select></td>
              </tr>

            </table>
    </main>
    <footer>
        <table id="footer" role="presentation">
          <tr>
            <td data-feedback id="feedback">
              <p>Geef feedback</p>
            </td>
            <td data-credit id="credit">
              <p>Credit / bronvermelding</p>
            </td>
          </tr>
          <tr>
            <td data-contact id="contact">
              <p>Contact</p>
            </td>
            <td><a id="source" href="https://github.com/feikescholtens/De-Wind-Nu" target="_blank">
                <p>Broncode op Github</p>
              </a>
            </td>
          </tr>
        </table>
      </footer>
</body>

</html>