header,
main,
footer {
    width: 100%;
    visibility: hidden;
}

#currentWindBox {
    position: relative;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
    margin-bottom: 20px;
}

canvas#compass {
    max-width: 350px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

/* Styling current wind labels */
#currentWind {
    font-size: 3em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: #6ab04c;
    font-weight: 600;
}

#forecastedWind {
    font-size: 1.2em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: #2e86de;
    font-weight: 600;
}

#currentGusts {
    font-size: 1.8em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: #eb4d4b;
    font-weight: 600;
    top: 53%;
}

#currentDirection {
    font-size: 1.8em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: #5f27cd;
    font-weight: 600;
}

#forecastedDirection {
    font-size: 1.2em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: #ff9f43;
    font-weight: 600;
}

label.labelSmall {
    font-size: 16px;
    white-space: nowrap;
    color: black;
    font-weight: 400;
}

label.labelBig {
    font-size: 20px;
    white-space: nowrap;
    color: black;
    font-weight: 400;
}

/* Other styles */

canvas.charts {
    margin-bottom: 10px;
}