header,
main,
footer {
    width: 100%;
    visibility: hidden;
}

div#loaderText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, calc(-50% + 50px));
}

h1#location {
    color: grey;
    float: right;
    font-size: 1.5em;

    text-align: right;
    top: 80px;
    position: absolute;
    margin-right: 10px;
    width: 400px;
}

h3#dataInfo {
    font-weight: 400;
    font-size: 16px;
    padding: 0 10px;
    margin-bottom: 20px;
    color: grey;
}

#currentWindBox {
    position: relative;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
    margin-bottom: 20px;
}

canvas#compass {
    max-width: 350px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

/* Styling current wind labels */
#currentWind {
    font-size: 3em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: #6ab04c;
    font-weight: 600;
}

#forecastedWind {
    font-size: 1.2em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: #2e86de;
    font-weight: 600;
}

#currentGusts {
    font-size: 1.8em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: #eb4d4b;
    font-weight: 600;
    top: 53%;
}

#currentDirection {
    font-size: 1.8em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: #5f27cd;
    font-weight: 600;
}

#forecastedDirection {
    font-size: 1.2em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: #ff9f43;
    font-weight: 600;
}

label.labelSmall {
    font-size: 16px;
    white-space: nowrap;
    color: black;
    font-weight: 400;
}

label.labelBig {
    font-size: 20px;
    white-space: nowrap;
    color: black;
    font-weight: 400;
}

/* Other styles */

canvas.charts {
    margin-bottom: 10px;
}

section {
    letter-spacing: 1px;
    word-spacing: 10px;
    text-align: center;
    padding-top: 10px;
}

section label {
    cursor: pointer;
}

section label.deselected {
    color: #bbb;
}

table#data {
    margin: 10px 0 20px 0;
    box-sizing: border-box;
    margin-left: 10px;
    max-width: calc(100% - 2 * 10px);
    border-collapse: collapse;
}

tr#tableFirstHeaderRow th {
    font-size: 1.2em;
}

tr#tableHeaderRow th {
    font-weight: 600;
}

table#data td:nth-child(1) {
    border-right: 1px #bbb solid;
    width: 80px;
}


table#data tr td:nth-child(2),
table#data tr td:nth-child(3),
table#data tr td:nth-child(4) {
    max-width: 100px;
}

table#data th,
table#data td {
    text-align: left;
    vertical-align: top;
    padding: 0px 5px;
}

span#sortArrow {
    float: right;
    color: grey;
}