:root {
    --markerSize: 25px;
}

* {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    --v_background-color: white;
    --v_color: black;

    background-color: var(--v_background-color);
    color: var(--v_color);
}


body.dark {
    --v_background-color: #202124;
    --v_color: #E8EAED;
}

header,
nav,
main,
footer {
    max-width: 800px;
    margin: 0 auto;
}

.hidden {
    visibility: hidden !important;
}

.noDisplay {
    display: none !important;
}

header {
    height: 100px;
}

svg#logo {
    margin: 10px 0 10px 10px;
    height: 80px;
    float: left;
    cursor: pointer;
}

svg#logo path,
svg#logo circle {
    fill: var(--v_color);
    stroke: var(--v_color)
}

h1#title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.8em;
    overflow: hidden;
    white-space: nowrap;
    float: right;
    margin-right: 10px;
    text-transform: none;
    font-style: normal;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    h1#title {
        top: 16px;
        transform: none;
    }
}

@media screen and (max-width: 350px) {
    h1#title {
        display: none;
    }
}

h2.sectionHeader {
    width: calc(100% - 20px);
    padding: 10px 10px 0 10px;
}

/* Marker & loader styling */
div.markerContainer {
    width: calc(3 * var(--markerSize));
    height: calc(3 * var(--markerSize));
    position: absolute;
}

div.marker {
    position: relative;
    transform-origin: center;
    box-sizing: content-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    width: var(--markerSize);
    height: var(--markerSize);
    border-radius: 50%;
    cursor: pointer;
    border: 3px white solid;
    text-align: center;
    line-height: var(--markerSize);
    font-size: calc(0.7 * var(--markerSize));
    font-weight: 800;
    color: white;
    border-color: white !important;
    box-shadow: 0 0 5px 3px grey;
    text-shadow: 1px 1px #5c5c5c;
}

div.arrowArm {
    position: absolute;
    width: calc(0.2 * var(--markerSize));
    border-top-width: calc(1.5 * var(--markerSize));
    border-top-style: solid;
    border-left: calc(0.2 * var(--markerSize)) solid transparent;
    border-right: calc(0.2 * var(--markerSize)) solid transparent;
    left: calc(1.5 * var(--markerSize));
    top: calc(1.5 * var(--markerSize));
    transform-origin: top;
    transform: translateX(calc(-0.3 * var(--markerSize))) rotate(0);
    background-color: unset !important;
    filter: drop-shadow(3px 0 white) drop-shadow(0 3px white) drop-shadow(-3px 0 white) drop-shadow(1px 1px 1px grey) drop-shadow(-1px 1px 1px grey);
}

div.center {
    left: 50%;
    transform: translateX(-50%);
}

div.centerAndMiddle {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div.loader {
    background-color: black;
    border-top-color: black;
}

div.spin {
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-duration: 0.35s;
    animation-timing-function: linear;
    transform: translateX(calc(-0.3 * var(--markerSize))) rotate(0deg);
}

@keyframes spin {
    0% {
        transform: translateX(calc(-0.3 * var(--markerSize))) rotate(0deg);
    }

    100% {
        transform: translateX(calc(-0.3 * var(--markerSize))) rotate(360deg);
    }
}

/* Popup styling */

button.windPageButton {
    margin: 5px;
    padding: 8px;
    border-radius: 12px;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    text-shadow: 1px 1px #5c5c5c;
    font-weight: 600;
}

button.popupMVB {
    background-color: rgb(201, 62, 28);
}

button.popupKNMI {
    background-color: rgb(101, 124, 201);
}

button.popupRijkswaterstaat {
    background-color: rgb(46, 179, 99);
}

button.popupVLINDER {
    background-color: rgb(254, 202, 87);
}

button.popupOther {
    background-color: rgb(140, 140, 140);
}

button.windPageButton:hover {
    opacity: 0.5;
}

/* Footer styling */
footer {
    padding: 30px 0;
    text-align: center;
}

div#footerItemWrapper {
    display: inline;
}

div.footerItem {
    padding: 20px 40px 20px 40px;
    display: inline-block;
    box-sizing: border-box;
    width: 33%;
    text-align: left;
}

div.footerItem p {
    cursor: pointer;
}

@media screen and (max-width: 615px) {

    div.footerItem {
        width: 49%;
    }
}

@media screen and (max-width: 320px) {

    div.footerItem {
        display: block;
        width: auto;
        padding: 20px 40px 10px 40px;
        max-width: calc(180px + 2 * 40px);
        margin: 0 auto;
    }
}

/* Styling grid with settings for both pages */
div#settings {
    display: grid;
    grid-template-columns: clamp(50px, 60%, 400px) clamp(80px, calc(40% - 10px), 200px);
    margin: 5px 10px;
    column-gap: 10px;
    row-gap: 20px;
    align-items: center;
}

/* Popup styling */
div.messageBox {
    position: fixed;
    height: calc(100% - 2 * 20px);
    width: calc(100% - 2 * 20px);
    overflow-y: auto;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 999;
    max-width: 800px;
    padding-bottom: 15px;
    box-sizing: border-box;
}

p.messageBoxP {
    margin: 0 30px 10px 30px;
}

div.messageBox ul {
    margin: 0 30px 10px 60px;
}

h3.popUpTitle {
    margin: 30px 30px 15px 30px;
}

h4.popUpHeading {
    margin: 0 30px 0 30px;
}

div#gridWrapper {
    margin: 0 30px 10px 30px;
    display: grid;
    grid-gap: 10px;
    align-items: center;
    grid-template-columns: auto auto;
}

button.popUp {
    margin: 5px 5px 5px 0;
}

div.close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 0px 0px;
    cursor: pointer;
    padding: 20px;
    color: red;
}

div.messageBox table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
}

div.messageBox table td {
    padding: 5px;
}

input {
    background-color: black;
    color: white;
    border: 2px black solid;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input#name,
input#email,
textarea#message {
    padding: 5px;
    border-radius: 10px;
    width: calc(800px / 2);
    border: 2px grey solid;
}

textarea#message {
    height: 100px;
    resize: none;
}

button#send {
    background-color: rgba(16, 172, 132, 1.0);
    border: none;
    padding: 10px;
    color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 30px;
}

@media (hover: hover) {
    button#send:hover {
        background-color: rgba(16, 172, 132, 0.6);
    }
}

@media screen and (max-width: 600px) {
    div.messageBox table td {
        display: block;
    }
}

@media screen and (max-width: 550px) {

    input#name,
    input#email,
    textarea#message {
        width: calc(550px / 2) !important;
    }
}

@media screen and (max-width: 400px) {

    input#name,
    input#email,
    textarea#message {
        width: calc(400px / 2) !important;
    }
}

textarea.fillIn::placeholder {
    color: red;
}

p.success,
p.error {
    font-weight: 600;
    font-size: 1.2em;
    margin: 0 30px 10px 30px;
}

p.success {
    color: #10ac84;
}

p.error {
    color: rgba(235, 77, 75, 1);
}

a#source {
    color: var(--v_color);
    text-decoration: none;
}